/* Body */
body {
  /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('/wood-background-71.jpg'); */
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
}

/* Log */

.login-page {
  width: 380px;
  padding: 10% 0 0;
  margin: auto;
}

/* Form */

.form {
  position: relative;
  z-index: 1;
  /* background: rgba(195, 7, 7, 0.8) url('/ratatouill_jc2uwub7.gif'); */
  /* background: url("/kitchen1.jpg"); */
  margin: 0 auto 100px;
  padding: 15px;
  text-align: center;
  background-color: #333;
  padding: 2rem;
  border-radius: 10px;
}

/* Form Input */

.form input {
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

/* #Country */
#country {
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  overflow: scroll;
}

/* Form Button */

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 80%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

/* form button:hover */

.form button:hover,
.form button:active {
  background: #3888ff;
}

/* Form Message */
.form .message {
  margin: 15px 0 0;
  color: aliceblue;
  font-size: 12px;
}

/* Form Message a */
.form.message a {
  color: #4caf50;
  text-decoration: none;
}

/* form .register-form */

.form .register-form {
  display: none;
}

a {
  color: red;
}

/* #username-err */

#username-err {
  font-family: monospace;
  color: red;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 24px;
  display: none;
}

#password-err {
  font-family: monospace;

  color: red;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 24px;
  display: none;
}

#btnInsert1,
#btnInsert2,
#btnInsert3 {
  outline: 0;
  transform: translate(90px, -90px);
  padding: 10px;
  color: white;
  background: #4caf50;
  font-size: 15px;
  height: 40px;
  cursor: pointer;
}

/* btn Clear */

#btnClear {
  margin-top: 14px;
}

.CHK {
  transform: translate(65px, -80px);
  color: #333;
}
